// tools section start
.tools__editor-img {
	background-image: url(../images/tool/editor.png);
	background-repeat: no-repeat;
	width: 317px;
	height: 381px;
	position: absolute;
	right: 0;
 }
 
 @media screen and (min-width: #{($landscape-mobile-normal)}) {
	.tools {
	  &-img {
		 background-image: url(../images/tool/editor_480.png);
		 width: 460px;
		 height: 510px;
	  }
	}
 }
 
 @media screen and (min-width: #{($landscape-mobile-big)}) {
	.tools {
	  &__editor-img {
		 background-image: url(../images/tool/editor_768.png);
		 width: 700px;
	  }
	}
 }
 
//  tools section end