*{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-image: url(/images/header/bg-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
<<<<<<< HEAD
=======
    max-width: 100%;
    // margin-bottom: 66px;
>>>>>>> header
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.upper-header{
<<<<<<< HEAD
        &__content{
            display: flex;
            justify-content: space-between;
=======
    &__content{
        display: flex;
        justify-content: space-between;
    }

    &__logo-icon{
        background-image: url(/images/header/logo.png);
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 30px;
        width: 43px;
        height: 41px;

        &:hover{
            color: #fff;
>>>>>>> header
        }
    
        &__logo-icon{
            background-image: url(../images/header/logo.png);
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 30px;
            width: 43px;
            height: 41px;

            &:hover{
                background-image: url(../images/header/logo-hover.png);
                background-repeat: no-repeat;
                background-size: cover;
                width: 43px;
                height: 41px;
                margin-top: 30px;
            }
        }
    
        &__logo{
            width: 178px;
            display: flex;
            justify-content: space-between;
        }
    
        &__logo-article{
            font-weight: 700;
            font-size: 24px;
            color: #8D81AC;
            text-transform: uppercase;
            margin-top: 40px;
            display: inline ;
    
            &:hover{
                color: #fff;
            }
    }
}
.navigation-bar{
    width: 710px;
    display: flex;
    justify-content: space-between;

    &__list{
        width: 517px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        color: #8D81AC;
        list-style-type: none;
        padding-top: 41px;

        &:hover{
            color: #fff;
        }
    }
    &__btn-buying{
        border: none;
        outline: none;
        background: #8D81AC;
        border-radius: 40px;
        width: 145px;
        height: 37px;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        color: #fff;
        margin-top: 31px;

        &:hover{
            color: #8D81AC;
            background: #fff;
            border: 2px solid #8D81AC;
            border-radius: 40px;
        }
    }
}
.lower-header{
    margin-top: 127px;

    &__caption{
        font-weight: 700;
        font-size: 82px;
        line-height: 82px;
        text-align: center;
        color: #FFFFFF;
    }
    &__info{
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: #8D81AC;
        text-align: center;
        margin-top: 19px;
    }
    &__for-windows-mac{
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: #848E97;
        margin-top: 19px;
        margin-bottom: 400px;
    }
    &__btn-downloading{
        border: none;
        outline: none;
        background: #8D81AC;
        border-radius: 40px;
        min-width: 390px;
        height: 62px;
        font-weight: 700;
        font-size: 21px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 50px;
        display: block;
        text-align: center;
        margin: 0 auto;

        &:hover{
            color: #8D81AC;
            background: #fff;
            border: 2px solid #8D81AC;
            border-radius: 40px;
        }
    }
    &__trial-period{
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        color: #848E97;
        margin-top: 19px;
        margin-bottom: 66px;
    }
}
<<<<<<< HEAD
=======
@media screen and (max-width: 992px) {
    // .container{
    //     padding: 0 10px 0 10px;
    // }
    .upper-header{
        background-color: #27262A;
        // height: 118px;

        &__logo-icon{
            margin-right: 17px;
        }
    }
    .navigation-bar{
        &__list{
            margin-top: 30px;
            padding-bottom: 18px;
        }
        &__btn-buying{
            margin-right: 10px;
        }
    }
    .lower-header{
        width: 100vw;
        &__caption{
            font-size: 72px;
        }
        &__info{
            font-size: 24px;
        }
    }
}
@media screen and (max-width: 480px) {
    .upper-header{
        &__logo-article{
            display: none;
        }
        &__btn-buying{
            display: block;
            text-align: center;
            margin: 0 auto;
            width: 119px;
            height: 37px;
        }
    }
    .navigation-bar{
        &__list{
            background-color: #333333;
            flex-direction: column;
            display: flex;
            justify-content: center;
            width: 292px;
        }
        &__item{
            border-bottom: 3px solid #3B3B3B;
            padding-bottom: 21px;
            padding-left: 35px;
            text-align: left;
            color: #fff;
            font-weight: 400;
            font-size: 26px;
            line-height: 26px;

            &:focus{
                ::before{
                    width: 8px;
                    height: 53px;
                    background-color: #8D81AC;
                }
                color: #8D81AC;
            }
        }
    }
    .lower-header{
        width: 100%;
        &__caption{
            font-size: 48px;
        }
        &__info{
            font-size: 18px;
        }
    }
}

>>>>>>> header
