.people-talking{
    background-image: url(../images/people/people-talking-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 769px;

    &__companies{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 100px;
    }
    &__company{
        width: 345px;
    }
    &__comment{
        font-style: italic;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 33px;
    }
    &__logo{
        margin-left: 90px;
    }
    &__logo-three{
        margin-left: 136px;
    }
    &__logo-four{
        margin-left: 60px;
    }
    &__logo-six{
        margin-left: 118px;
    }
    &__info{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 887px;
        color: #A291A5;
        margin-top: 50px;
        padding-bottom: 132px;
    }
    &__border-bottom{
        padding-top: 19px;
    }
    &__caption{
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        padding-top: 108px;
        padding-bottom: 82px;
    }
}
