 <header>
    <div class="upper-header">
        <div class="container">
            <div class="upper-header__content">
                <div class="upper-header__logo">
                    <div class="upper-header__logo-icon"></div>
                    <h1 class="upper-header__logo-article">forkio</h1>
                </div>
                <div class="navigation-bar">
                    <ul class="navigation-bar__list">
                        <li class="navigation-bar__item">Overview</li>
                        <li class="navigation-bar__item">About Fork</li>
                        <li class="navigation-bar__item">Buying Options</li>
                        <li class="navigation-bar__item">Support</li>
                    </ul>
                <button class="navigation-bar__btn-buying">Buy Now</button>
            </div>
        </div>
        </div>
    </div>
    <div class="lower-header">
        <div class="container">
            <div class="lower-header__caption">Fork App</div>
            <p class="lower-header__info">A real gamechanger in the world of web development</p>
            <div class="lower-header__for-windows-mac">v. 2.8 For Mac and Windows</div>
            <div class="lower-header__download">
                <button class="lower-header__btn-downloading">Download For Free Now</button>
                <div class="lower-header__trial-period">Unlimited 30-Days Trial Period</div>
            </div>
        </div>
    </div>

 </header>
 