


        <section class="people-talking">
            <div class="container">
                <h3 class="people-talking__caption">People Are Talking About Fork</h3>
                <div class="people-talking__companies">
                    <div class="people-talking__company">
                        <img class="people-talking__logo" src="/images/people/company1.png" alt="first company">
                        <p class="people-talking__comment"><i>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </i></p>
                    </div>
                    <div class="people-talking__company">
                        <img class="people-talking__logo" src="/images/people/company2.png" alt="first company">
                        <p class="people-talking__comment"><i>Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh. </i></p>
                    </div>
                    <div class="people-talking__company">
                        <img class="people-talking__logo-three" src="/images/people/company3.png" alt="first company">
                        <p class="people-talking__comment">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.</p>
                    </div>
                    <div class="people-talking__company">
                        <img class="people-talking__logo-four" src="/images/people/company4.png" alt="first company">
                        <p class="people-talking__comment">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
                    </div>
                    <div class="people-talking__company">
                        <img class="people-talking__logo" src="/images/people/company5.png" alt="first company">
                        <p class="people-talking__comment">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus.</p>
                    </div>
                    <div class="people-talking__company">
                        <img class="people-talking__logo-six" src="/images/people/company6.png" alt="first company">
                        <p class="people-talking__comment">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</p>
                    </div>
                </div>
                <div class="people-talking__info">
                    Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    <div class="people-talking__border-bottom"><img src="/images/people/border-bottom.png" alt="border bottom"></div>
                </div>
            </div>
        </section>

