<section class="pricing">
	<div class="container">
		 <h2 class="pricing__title">Fork Subscription
			  Pricing</h2>
		 <div class="pricing__list flex-wrapper">
			  <div class="pricing__item">
					<p class="pricing__item_title">Students</p>
					<div class="pricing__item_bg-wrapper">
						 <p class="pricing__item_price">$29</p>
						 <p class="pricing__item_per-month">per month</p>
						 <div class="pricing__item_line"></div>
						 <p class="pricing__item_description pricing__item_description-mod">Personal License</p>
						 <button class="btn pricing__item_btn-mod">purchase</button>
					</div>
			  </div>
			  <div class="pricing__item">
					<p class="pricing__item_title">professional</p>
					<div class="pricing__item_bg-wrapper">
						 <p class="pricing__item_price">$59</p>
						 <p class="pricing__item_per-month">per month</p>
						 <div class="pricing__item_line"></div>
						 <p class="pricing__item_description">Professional License</br>
							  Email Support</p>
						 <button class="btn pricing__item_btn-mod">purchase</button>
					</div>
			  </div>
			  <div class="pricing__item">
					<p class="pricing__item_title pricing__item_title-active">agency</p>
					<div class="pricing__item_bg-wrapper pricing__item_bg-wrapper-active">
						 <p class="pricing__item_price">$99</p>
						 <p class="pricing__item_per-month">per month</p>
						 <div class="pricing__item_line"></div>
						 <p class="pricing__item_description pricing__item_description-active">1-12 Team Members</br>
							  Phone Support</p>
						 <button class="btn pricing__item_btn-mod">purchase</button>
					</div>
			  </div>
			  <div class="pricing__item">
					<p class="pricing__item_title">enterprise</p>
					<div class="pricing__item_bg-wrapper">
						 <p class="pricing__item_price">$159</p>
						 <p class="pricing__item_per-month">per month</p>
						 <div class="pricing__item_line"></div>
						 <p class="pricing__item_description">Unlimited Team Members</br>
							  24/ 7 Phone Support</p>
						 <button class="btn pricing__item_btn-mod ">purchase</button>
					</div>
			  </div>
		 </div>
	</div>
</section>