<section class="tools">
	<div class="container">
		 <div class="tools__flex-body">
			  <div class="tools__title">
					<h2 class="tools__text ">
						 <span class="tools__text--position"><span>
									</span>Here is what</span> <span class="tools__text--position"> you get<span>></span>
							  </span>
					</h2>
			  </div>
			  <ul class="tools__list">
					<li class="tools__item">
						 <img src="images/tool/icon-search.png" alt="/" class="tools__img-search">
						 <div class="tools__item-body">
							  <h3 class="tools__item-title">Creatred to Make The Web Better</h3>
							  <p class="tools__item-text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
									laoreet
									vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
						 </div>
					</li>
					<li class="tools__item">
						 <img src="images/tool/icon-speed.png" alt="/" class="tools__img-speed">
						 <div class="tools__item-body">
							  <h3 class="tools__item-title">Incredibly Powerful Tool</h3>
							  <p class="tools__item-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
									odio,
									ut
									volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat
									volutpat.</p>
						 </div>
					</li>
					<li class="tools__item">
						 <img src="images/tool/icon-experimental.png" alt="/" class="tools__img-experimental">
						 <div class="tools__item-body">
							  <h3 class="tools__item-title">Experimental Stuff</h3>
							  <p class="tools__item-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
									odio,
									ut
									volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat
									volutpat.</p>
						 </div>
					</li>
					<li class="tools__item">
						 <img src="images/tool/icon-watch.png" alt="/" class="tools__img-watch">
						 <div class="tools__item-body">
							  <h3 class="tools__item-title">Creatred to Make The Web Better</h3>
							  <p class="tools__item-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
									odio,
									ut
									volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat
									volutpat.</p>
						 </div>
					</li>
			  </ul>
			  <div class="tools__editor">
					<div class="tools__editor-img"></div>
			  </div>
		 </div>
	</div>
</section>