$font-family: 'Montserrat', sans-serif;
$grey-text:#848e97;
$btn-bg:#8e82ae;
$black-color: #323232;
$white-text: #fff;
$color-text-violet:#8d81ac;
$color-text-black: #333333;

$landscape-mobile-normal: 401px;
$landscape-mobile-big: 481px;
$landscape-tablet: 993px;